.graficoSecundário {
  width: 50vw;
  height: 80vh;
  background-color: #fff;
  margin-top: 3ch;
  border-radius: 5px;
  margin-left: 23ch;
}

.graficoText {
  margin-left: 3rem;
  font-family: "Ubunto", serif;
  color: #bfbfd8;
  margin-top: 13px;
  position: absolute;
  z-index: 1;
}

.valores {
  width: 90vw;
  height: 10vh;
  background-color: rgb(221, 213, 213);
}
