.menuShow {
  font-family: "Roboto", sans-serif;
}
.tipos-text {
  margin-top: 56%;
  font-size: 14px;
  margin-left: 22%;
}

.menu {
  margin: 42px 6rem 0 0;
  margin-top: 42px;
}

.menuShow {
  width: 15vw;
  height: 116vh;
  margin-top: -7%;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(253, 193, 104, 1) 0%,
    rgba(251, 128, 128, 1) 90%
  );
  position: absolute;
  max-width: 13vw !important;
  min-width: 13vw !important;
}

.menuLink1,
.menuLink2 {
  position: absolute;
  margin: -42px 0 0 -25px;
}
.menuList {
  list-style: none;
  margin: 27px 0 0 -32px;
  text-align: center;
}

.menuList a {
  color: #fff;
  text-decoration: none;
  margin: -52px 0 0 40px;
}

@media (max-width: 1000px) {
  .menuShow {
    max-width: 1000px !important;
  }
}

@media (max-width: 850px) {
  .menuShow {
  }
}
