.card,
.Rigth {
  width: 17vw;
  height: 21vh;
  background-color: #fff;
  margin: 3% 0 0 23ch;
  border-radius: 6px;
  font-family: "Ubunto", sans-serif;
}

#clienteValue,
#numeroCliente {
  margin: 18px 0 0 1%;
  position: absolute;
  color: #bfbfd8;
}

#numeroCliente {
  margin-top: 4%;
  font-size: 1.4pc;
  color: #6f6f70;
}

.cardImg,
.cardImgRight,
.cardImgbottom {
  width: 4ch;
  height: 5vh;
  background-color: #dbdefd;
  float: right;
  margin: 7% 11% 0 0;
  border-radius: 5px;
}

.iconClient {
  margin: 2px 0 0 8px;
}

#iconProcentagem {
  margin: 39% 0 0 6%;
}

.iconProcentagemRight {
  margin-left: -11ch;
  margin-top: 6ch;
}
.porcentagem p,
.porcentagemRight {
  font-size: 1.1ch;
  margin: -22px 0 0 13ch;
  position: absolute;
  color: #7eacec;
}
.porcentagem span {
  font-size: 1.3ch;
  margin: 6rem 0 0 5px;
  position: absolute;
  color: #12d2aa;
}

#porcentagemNegativa,
#porcentagemNegativaRigth {
  color: rgb(212, 32, 32) !important;
}

.Rigth {
  margin: -29ch 0 0 36%;
}

.top {
  margin-left: 36%;
}

.cardImgRight {
  float: right;
  margin: -20ch 23px 0 0 !important;
}

.iconClientRight,
.iconClientbottom {
  margin: 3px 0 0 9px;
}

#iconProcentagemRight {
  margin-top: 100%;
  margin-left: -72%;
}

.porcentagemRight p {
  margin-top: -22px;
  position: relative;
}

#porcentagemNegativaRigth,
#porcentagemBottom {
  margin: -25% 0 0 -51px;
  font-size: 15px;
  position: absolute;
}

#porcentagemBottom {
  color: #12d2aa;
}

.cardImgbottom {
  margin-top: -15% !important;
}
