.cards {
  display: grid !important;
  max-width: 1000px !important;
  grid-template-columns: repeat(2, 1fr);
}
.card,
.Rigth {
  width: 17vw;
  height: 21vh;
  background-color: #fff;
  margin: 3% 0 0 23ch;
  border-radius: 6px;
  font-family: "Ubuntu", sans-serif;
}

#clienteValue,
#numeroCliente {
  margin: 18px 0 0 1%;
  position: absolute;
  color: #bfbfd8;
}

#numeroCliente {
  margin-top: 4%;
  font-size: 1.4pc;
  color: #6f6f70;
}

.cardImg,
.cardImgRight,
.cardImgbottom {
  width: 4ch;
  height: 5vh;
  background-color: #dbdefd;
  float: right;
  margin: 7% 11% 0 0;
  border-radius: 5px;
}

.iconClient {
  margin: 2px 0 0 8px;
}

#iconProcentagem {
  margin: 39% 0 0 6%;
}

.iconProcentagemRight {
  margin-left: -11ch;
  margin-top: 6ch;
}
.porcentagem p,
.porcentagemRight {
  font-size: 1.1ch;
  margin: -22px 0 0 13ch;
  position: absolute;
  color: #7eacec;
}
.porcentagem span {
  font-size: 1.3ch;
  margin: 6rem 0 0 5px;
  position: absolute;
  color: #12d2aa;
}

#porcentagemNegativa,
#porcentagemNegativaRigth {
  color: rgb(212, 32, 32) !important;
}

.Rigth {
  margin: -29ch 0 0 36%;
}

.top {
  margin-left: 36%;
}

.cardImgRight {
  float: right;
  margin: -20ch 23px 0 0 !important;
}

.iconClientRight,
.iconClientbottom {
  margin: 7px 0 0 7px;
}

#iconProcentagemRight {
  margin-top: 100%;
  margin-left: -72%;
}

.porcentagemRight p {
  margin-top: -22px;
  position: relative;
}

#porcentagemNegativaRigth,
#porcentagemBottom {
  margin: -25% 0 0 -51px;
  font-size: 15px;
  position: absolute;
}

#porcentagemBottom {
  color: #12d2aa;
}

.cardImgbottom {
  margin-top: -15% !important;
}

@media (min-width: 580px) and (max-width: 1900px) {
  .card {
    width: 17rem !important;
    display: table;
  }
  .responsive {
    margin: 3rem 0 0 17rem;
  }
  .left {
    margin: 3rem 0 0 3rem;
  }

  .top {
    margin: 2rem 0rem 0 17rem;
  }
  .Right {
    margin: 2rem 0 0 3rem !important;
    margin-left: 0;
  }
  .cardImgRight {
    margin-top: 1rem !important;
  }
  .cardImgbottom {
    margin-top: 1rem !important;
  }
  .porcentagemRight {
    margin-top: 1rem;
  }
  .porcentagemRight p {
    font-size: 1rem;
    margin: -3ch 0 0 1rem;
  }

  .porcentagemRight span {
    margin: -1rem 0 0 -2rem !important;
  }
  #iconProcentagemRight {
    margin: 8rem 0 0 -4rem !important;
  }
  .iconClient {
    margin-top: 1ch;
  }
  .porcentagem p {
    margin-left: 6rem;
    font-size: 1rem;
  }
  .porcentagem span {
    margin-top: 7rem;
    font-size: 12px;
  }
}
@media (min-width: 1696px) and (max-width: 2820px) {
  .cards {
    margin-left: 3rem !important;
  }
}

@media (min-width: 1620px) and (max-width: 1890px) {
  .cards {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .left {
    margin-left: 17rem;
  }
  .Right {
    margin-left: 17rem !important;
  }
}

@media (min-width: 700px) and (max-width: 880px) {
  .responsive,
  .top {
    margin-left: 10rem !important;
  }
}
